<%= render "users/user_tag", user: @user %>
<div>
  <h3>Bio</h3>
  <p><%= @user.bio %></p>
</div>
<div>
  <h3>Posts (<%= @user.posts.count %>)</h3>
  <% @user.posts.each do |post| %>
    <h4><%= post.title %></h4>
    <p><%= post.text %></p>
  <% end %>
  <%= link_to 'see all posts', user_posts_path(@user) %>
</div>
