<main class="user-show">
  <section class="user-full-info" id=<%= "user_id_#{@user.id}" %>>
		<div class="user-card">
			<%= render "users/user_tag", user: @user %>
		</div>
		<div class="user-bio">
			<h3>Bio</h3>
			<p><%= @user.bio %></p>
		</div>
  </section>
  <section class="recent-posts">
    <h3>recents posts</h3>
    <% @recent_posts.each do |post| %>
      <article class="post-preview" id=<%= "post_id_#{post.id}" %>>
        <%= render "posts/post_preview", post: post %>
      </article>
    <% end %>
    <%= link_to "see all posts (#{@user.posts_count})", user_posts_path(@user), class: "see-all-posts-btn" %>
  </section>
</main>
