<main class="user-posts">
	<section class="user-card"  id=<%= "user_id_#{@user.id}" %>>
		<%= render "users/user_tag", user: @user %>
	</section>
	<section class="all-posts">
		<h2> All Posts (<%= @user.posts_count %>)</h2>
		<% @posts.order(updated_at: :desc).each do |post| %>
			<article class="post-card"   id=<%= "post_id_#{post.id}" %>>
				<div class="post-preview">
					<%= render "posts/post_preview", post: post %>
				</div>
				<div class="recent-comments comments-list">
					<% post.recent_comments.each do |comment| %>
						<%= render "comments/show", comment: comment %>
					<% end %>
				</div>
			</article>
		<% end %>
		<%= paginate @posts %>
	</section>
</main>
