<main class="user-posts">
	<section class="user-card"  id=<%= "user_id_#{@user.id}" %>>
		<%= render "users/user_tag", user: @user %>
	</section>
	<section class="new-posts">
		<h1>new Post</h1>

			<%= form_with model: @post, url: user_posts_path(@user) do |f| %>
				<%= f.label :title %>
				<%= f.text_field :title %>

				<%= f.label :text %>
				<%= f.text_area :text %>

				<%= f.submit "Post", disable_with: 'Posting...' %>
			<% end %>

	</section>
</main>
