<main class="full-post" id=<%= "post_id_#{@post.id}"%>>
	<h1 class="title">
		<%=@post.title%>

			<span class="by-author">
				by:
				<%= link_to user_path @user do %>
				<%=@user.name%>
		<% end %>
			</span>
	</h1>
	<section class="post-content">
		<p class="post-text"><%=@post.text%></p>
		<div class="post-stats">
			<span class="updated-at"> last edit: <%= @post.updated_at.localtime %></span>
			<span class="likes-count"> Likes: <%= @post.likes_counter %></span>
			<span class="comment-count"> comments: <%= @post.comments_counter %></span>
		</div>
	</section>
	<section class="comments-list">
		<% @comments.each do |comment| %>
			<%= render "posts/comment", comment: comment %>
		<% end %>
		<%= paginate @comments %>
	</section>
</main>
